*{
  margin: 0;
  padding: 0;
}
.App{
  background-color: #fafafa;
}
.app__header{
  position: sticky;
  top: 0;
  padding: 20px;
  background-color: white;
  object-fit: contain;
  margin-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
}

.app_headerImage{
  object-fit: contain;
}
.app__signup{
  display: flex;
  flex-direction: column;
}

.app__post{
  padding: 20px;
}

.main__body{
  display: flex;
  justify-content: center;
}

.app__post{
  margin-right: 20px;  
}
